[submodule "rvsol/lib/forge-std"]
	path = rvsol/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "rvsol/lib/verse"]
	path = rvsol/lib/verse
	url = https://github.com/HashKeyChain/verse.git
